
/************* BASE STYLES **********************/

body {
	font-family: 'Catamaran';
	margin: 0;
	color: #095256;
}

.mainpage {
	
}

#portfolio {
	
}

#about {
	
}

footer {
	
}

p {
	font-size: 18px;
}

a {
	text-decoration: none;
}

/******************** GRID ***********************/

.full-width {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.half-width {
	width: 45%;
	margin-bottom: 40px;
}

.third-width {
	width: 30%;
}


/****************** HEADER ************************/

.mainpage {
	background: url('../img/hero-image.png');
}

h1 {
	font-family: 'Fredericka the Great';
	font-size: 60px;
	text-align: center;
	color: #bdbf09;
}

#hello {
	padding-top: 345px;
	margin-left: 300px;
	width: 65%;
}

header p {
	font-size: 26px;
	text-align: center;
	margin-bottom: 150px;
}

/******************** HEADER SECONDARY PAGES ********/

.secondary-pages {
	background-color: #095156;
	color: white;
	
}
.secondary-pages h1{
	text-align: left;
	color: white;
	margin-bottom: 0px;
	font-size: 50px;
}

#title-tagline {
	margin-left: 50px;
}

.secondary-pages h3 {
	margin-top: 0px;
}


/************* NAVIGATION *********************/

nav {
    padding: 75px 50px 0px;
}

nav ul li{
    display: inline-block;
    padding: 20px 20px 0px;
    font-size: 18px;
}

nav a {
	text-decoration: none;
	color: white;
}


/****************** PORTFOLIO ************************/


#roguepickings, #jubilee, #holstee {
	
}

h2 {
	text-align: center;
	font-family: 'Fredericka the Great';
	font-size: 40px;
}

#portfolio a {
	color: #095156;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 20px;
}

#rogue {
	border: solid 1px #095156;
}

/****************** ABOUT ME ************************/

#about {
	color: white;
	background-color: #087e8b;
}

#about-me-pic {

}

#centeredimage {

}


/****************** FOOTER ************************/

footer {
	color: white;
	background-color: #095156;
}

footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer ul li {
	
}

footer li {
	
}


.third-width {
	text-align: center;
}


#hire {
	
}

